# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Data
data/*.csv
!data/metadata_sample.csv
data/*.json
data/*.parquet

# Outputs
out/

